* {
border: 1px solid black;
margin: 0;
padding: 0;
}

body {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    background-color: red;
}

#sidebar-container {
    width: 250px;
}

.todo-item {
    display: flex;
    flex-flow: column;
}